.storybook {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  padding-top: 1em;
}

.storybook aside {
  flex: 1;
  padding: 0 1em;
  border-right: 1px solid rgba(0,0,0,0.1);
  margin-right: 1em;
}

.storybook aside h4 {
  margin-top: 0;
  cursor: pointer;
}

.storybook aside a,
.storybook aside a:visited {
  color: blue;
}

.storybook section {
  flex: 1;
  flex-grow: 100;
}

.storybook aside a.active {
  font-weight: bold;
}
